79    #Z of projectile
197   #A of projectile
79    #Z of target
197   #A of target
108.4 #Gamma of the colliding ions
1.5   #Max value of w
-1    #Min value of w
40    #Bins i w
4.    #max y
80    #Bins i y
2     #gg or gP switch (1 = 2-photon, 2 = vector meson (narrow), 3 = vector meson (wide) )
100   #Number of events
443   #Channel of interest
34533 #Random number seed
2     #Form of the output
5     #Controls the nuclear breakup
0     #Interference (0 = off, 1 = on)
1.    #% of intefernce (0.0 - 0.1)
0     #Coherent=1,Incoherent=0
1.    #percentage of incoherence
9.5
0.24  #Maximum pt considered, when interference is turned on
120   #Number of pt bins when interference is turned on

